<h1>場所作成</h1>

<div class="card">
  <%= form_with model: @place do |f| %>
    <div class="form-group">
      <%= f.label :name, "場所名" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.submit "作成" %>
    </div>
  <% end %>
</div>